title: "PowerShell Young Team"
author: "Steven Wight"
description: "You can take the SysAdmin out of the Scheme, but you can't take the Scheme out the SysAdmin. Using PowerShell for an easy life..." # This will show up in places like twitter, linkedin, etc, if you share your sites url as a post.

# Email / Social media user names used by the minima theme:
# All of these are optional and can be removed or commented out
#email: "example@mail.com"
twitter_username: "@PoSHYoungTeam"
github_username: "PowerShellYoungTeam"
linkedin_username: "steven-wight-79aa0525"
#facebook_username: username
#flickr_username: username
#instagram_username: username
#pinterest_username: username
#youtube_username: username
#googleplus_username: +username

#########################################################################################
######### Nothing below needs to be changed (unless you know what you're doing) #########
#########################################################################################
#remote_theme: jekyll/minima
theme: minima
minima:
  Skin: dark



#remote_theme: pages-themes/hacker@v0.2.0

rss: rss

kramdown:
  syntax_highlighter_opts:
    disable: true
    
plugins:
  - jekyll-feed
  - jekyll-sitemap
  - jekyll-remote-theme 

titles_from_headings:
  strip_title: true
  collections: true

defaults:
  - scope:
      path: ""
      type: post
    values:
      tags: Other
